.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.chat-window {
  max-width: 600px;
  margin: auto;
  background-color: #f8f9fa;
}

.profile_bg {
  padding: 15px 10px;
  color: #fff;
  border-radius: 50%;
}

.d_blue {
  background: #0000ca;
}

.d_red {
  background: #a30000;
}

html, body {
  height: 100%;
}

.container {
  height: 100vh;
}

.login_card {
  width: 320px  ;
}

.card {
  margin: auto;
  display: block;
}

.typing-text {
  display: inline-block;
  white-space: nowrap;
  border-right: 2px solid;
  animation: typing 1s steps(40, end), blink 0.75s step-end infinite;
  overflow: hidden;
}

.typing-cursor {
  display: inline;
  animation: blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: black; }
}

@keyframes blink {
  50% {
      border-color: transparent;
  }
}
